@import "tailwindcss";

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}

::-webkit-scrollbar{
  display: none;
}

@keyframes color-flash {
  0%, 100% { color: black; }
  50% { color: #b5b9bd; } /* This is Tailwind's text-gray-400 */
}

.animate-color-flash {
  animation: color-flash 2s infinite;
}