@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}

::-webkit-scrollbar{
  display: none;
}

@keyframes color-flash {
  0%, 100% { color: black; }
  50% { color: #b5b9bd; } /* This is Tailwind's text-gray-400 */
}

.animate-color-flash {
  animation: color-flash 2s infinite;
}